.new-ad-contianer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.buttonWrapper {
    display: flex;
    gap: 4px;
    align-items: center;
    width: 100%;
}
