.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    z-index: 2;
    gap:10px;
    border-bottom: 1px solid grey;
    position: sticky;
    top: 0;
    padding: 10px 10px;
    color: var(--primary-100);

    h1 {
        font-family: 'Grandstander', cursive;
        font-weight: 900;
        span {
            font-size: 40px;
        }
    }
    ul {
        display: flex;
        gap: 3px;
        li {
            list-style-type: none;
            min-width: fit-content;
        }
    }
}

@media (max-width: 1280px) {
    .header {
        height: 20vh;
        flex-direction: column;
        gap: 1px;
        padding: 0px 40px;
        #search {
            width: 100%;
        }
    }
}

