* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right top, #051937, #171d35, #212232, #282830, #2e2e2e);a{
  text-decoration: none;
  color:inherit;
}

